.hidden {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #6d8c66;
    width: 320px;
    padding: 15px;
    text-align: center;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    color: #1d3a1e;
}

button {
    background-color: #4a6b46;
    color: white;
    padding: 10px;
    width: 90%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0;
}

.nav-btn {
    display: block;
    margin: 10px auto;
}